<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jessie.onlineexaminationsystem.mapper.ExamPaperMapper">

    <resultMap id="BaseResultMap" type="com.jessie.onlineexaminationsystem.domain.ExamPaper">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="body" column="body" jdbcType="OTHER"/>
        <result property="scores" column="scores" jdbcType="INTEGER"/>
        <result property="teacher" column="teacher" jdbcType="INTEGER"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,body,scores,teacher,updateTime
    </sql>
    <insert id="insertAll">
        insert into exam_paper
        (body, scores,
         teacher, updateTime)
        values (#{body,jdbcType=VARCHAR}, #{scores,jdbcType=NUMERIC},
                #{teacher,jdbcType=NUMERIC}, #{updateTime})

    </insert>
    <select id="selectByTeacher" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exam_paper
        where
        teacher = #{teacher,jdbcType=NUMERIC}
    </select>
    <update id="updateBodyAndUpdateTimeById">
        update exam_paper
        set body       = #{body,jdbcType=VARCHAR},
            updateTime = #{updateTime}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exam_paper
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
