<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jessie.onlineexaminationsystem.mapper.SelectionsMapper">

    <resultMap id="BaseResultMap" type="com.jessie.onlineexaminationsystem.domain.Selections">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="body" column="body" jdbcType="VARCHAR"/>
        <result property="a" column="A" jdbcType="VARCHAR"/>
        <result property="b" column="B" jdbcType="VARCHAR"/>
        <result property="c" column="C" jdbcType="VARCHAR"/>
        <result property="d" column="D" jdbcType="VARCHAR"/>
        <result property="ans" column="ans" jdbcType="VARCHAR"/>
        <result property="teacher" column="teacher" jdbcType="INTEGER"/>
        <result property="public" column="isPublic" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,body,
        A,B,C,
        D,ans,teacher,
        isPublic,uploadTime
    </sql>
    <insert id="insertAll">
        insert into selections
        (body,
         A, B, C,
         D, ans, teacher,
         isPublic)
        values (#{body,jdbcType=VARCHAR},
                #{a,jdbcType=VARCHAR}, #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR},
                #{d,jdbcType=VARCHAR}, #{ans,jdbcType=VARCHAR}, #{teacher,jdbcType=NUMERIC},
                #{isPublic})

    </insert>
    <select id="searchAllByTitleAndBody" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from selections
        where
        match(body) against(#{body}) and isPublic=true
    </select>
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into selections(body,
        A,B,C,
        D,ans,teacher,
        isPublic)
        values
        <foreach collection="selectionsCollection" item="item" separator=",">
            (#{item.body,jdbcType=VARCHAR},
            #{item.a,jdbcType=VARCHAR},#{item.b,jdbcType=VARCHAR},#{item.c,jdbcType=VARCHAR},
            #{item.d,jdbcType=VARCHAR},#{item.ans,jdbcType=VARCHAR},#{item.teacher,jdbcType=NUMERIC},
            #{item.isPublic})
        </foreach>
    </insert>
    <select id="selectByTeacher" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from selections
        where
        teacher = #{teacher,jdbcType=NUMERIC}
    </select>
</mapper>
